<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bluetooth</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="scan()">Scan</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  These -->
  <ion-list>
    <button ion-item *ngFor="let device of devices; id as i" (click)="deviceSelected(id, device)" >
      <h2>{{device.name || 'Unnamed' }}</h2>
      <p>{{device.id}}</p>
      <p>RSSI: {{device.rssi}}</p>
      <p> ADV: {{device.advertising.kCBAdvDataManufacturerData}}</p>
      <p *ngFor="let data of adv"> {{data}}</p>
    </button>
   </ion-list>
  <!-- -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>
